---
import Layout from '@layouts/Layout.astro';
---

<Layout
	title="About Matt"
	metaDescription="Background on Matt Gerton, his work experience, and hobbies and interests outside of professional life."
>
	<main>
		<h1>About Matt</h1>
		<p>Hi there! I'm Matt. I've been working professionally as a software engineer on the web for over a decade, usually with a focus on front-end development. I've contributed to numerous applications over the years, ranging from small apps or sites for internal users to an application platform that delivers information to millions of users each month. I pride myself on my passion for front-end tools, focusing on users, and collaboration with my peers across product, design, and engineering.</p>
		<p>Outside of work, you can find me at local breweries in Southern CA (and sometimes honing my own homebrewing skills!), on hikes with my girlfriend and our dog, out on the golf course, or nerding out over mechanical keyboards, board/card games, and comics.</p>
		<p>If you'd like to know more about my background, check out my <a class="text-gradient" href="/my-work">My Work</a>. If you'd like to get in touch with me about career opportunities, please see my <a href="/contact">Contact</a> page.</p>
		<p>Sláinte! ☘🍻</p>
	</main>
</Layout>
