---
import Layout from '@layouts/Layout.astro';
import Notice from '@components/Notice.astro';
---

<Layout
	title="About Matt"
	metaDescription="Learn about how Matt Gerton built this site - the tools, technology, and workflow used to develop, deploy, and host it."
>
	<main>
		<h1>The Website: How Does This Get Made?</h1>
		<Notice>
			Sections of this page will dive deep into technical details - some knowledge of web development required!
		</Notice>
	</main>
</Layout>
