.title {
  line-height: 108px;
  font-size: clamp(100%, 4rem + 4vw, 98px);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;

  text-align: center;

  text-transform: uppercase;
  letter-spacing: 1px;

  text-shadow: 0 1px 0 rgba(40, 40, 40, 1), 0 2px 0 rgba(40, 40, 40, 1),
    0 3px 0 rgba(40, 40, 40, 1);
}

.h1 {
  line-height: 58px;
  font-size: 48px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;

  text-align: center;

  letter-spacing: 1px;

  text-shadow: 0 1px 0 rgba(40, 40, 40, 1), 0 2px 0 rgba(40, 40, 40, 1),
    0 3px 0 rgba(40, 40, 40, 1);
}

.h2 {
  font-size: 28px;
  line-height: 38px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 18px;
}
