/**
 * Global styles
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.40),
      rgba(0, 0, 0, 0.40)
    ),
    center 0
    url("../images/chicago-sunset.jpg") no-repeat;

  background-attachment: fixed;
  background-size: cover;

  /*font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Arimo", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Cabin", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Crimson Text", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Lora", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Gentium Basic", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Vollkorn", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Lora", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

  color: rgb(255, 255, 255);

  margin-bottom: 60px;
}


.heading {
  padding-bottom: 4em;
}

.heading h1 {
  /*font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Julius Sans One", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Open Sans Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;

  text-align: center;

  text-transform: uppercase;
  letter-spacing: 1px;
  /*line-height: 114px;
  font-size: 104px;*/

  text-shadow:
    0 1px 0 rgba(40,40,40,1),
    0 2px 0 rgba(40,40,40,1),
    0 3px 0 rgba(40,40,40,1);
}

.heading hr {
  width: 40%;
}

.about {
  padding-bottom: 4em;
  text-align: center;
}

.about .btn {
  border-color: rgb(255,255,255);
  border-radius: 0;
  border-width: 2px;
  background-color: rgba(0,0,0,0);

  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding: 10px 46px;
  margin: 0 18px;

/*  border-color: #ed982a;
  color: #ed982a;
*/
  border-color: rgb(239,174,90);
  color: rgb(239,174,90);

/*  border-color: #8296bf;
  color: #8296bf;
*/}

.about .btn:hover {
  background-color: rgb(239,174,90);
  color: rgb(255,255,255);
}

.blurb p {
  font-size: 42px;
  line-height: 52px;
  /*font-style: italic;*/
  /*letter-spacing: 1px;*/
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.find-me-nav .links {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.find-me-nav .links li {
  display: inline;
  padding: 0 14px;
}

.find-me-nav .links li a {
  line-height: 42px;
  font-size: 32px;
  color: rgb(255, 255, 255);
}

/*.find-me-nav .links li a:hover {
  color: rgb(255, 255, 255);
}*/

/**
 * Mobile styles: extra-small devices (< 768px)
 */

.heading {
  padding-top: 8em;
}

.heading h1 {
  letter-spacing: 1px;
  line-height: 108px;
  font-size: 98px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .heading h1 {
    letter-spacing: 1px;
    line-height: 164px;
    font-size: 154px;
  }
}

/**
 * Mobile styles: small devices (at least 768px)
 */

@media screen and (min-width: 768px) {
  body {
    margin-bottom: 88px;
  }

  .heading {
    padding-top: 35em;
  }

  .heading h1 {
    line-height: 164px;
    font-size: 154px;
  }

  .blurb p {
    line-height: 62px;
    font-size: 52px;
  }

  footer {
    height: 88px;
  }

  .find-me-nav .links li a {
    line-height: 52px;
    font-size: 42px;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  body {
    margin-bottom: 68px;
  }

  .heading {
    padding-top: 8em;
  }

  .heading h1 {
    line-height: 108px;
    font-size: 98px;
  }

  .blurb p {
    line-height: 52px;
    font-size: 42px;
  }

  footer {
    height: 68px;
  }

  .find-me-nav .links li a {
    line-height: 42px;
    font-size: 32px;
  }
}

/**
 * Mobile styles: medium devices (at least 992px)
 */

@media screen and (min-width: 992px) {
  body {
    margin-bottom: 68px;
  }

  .heading {
    padding-top: 19.5em;
  }

  .heading h1 {
    letter-spacing: 1px;
    line-height: 114px;
    font-size: 104px;
  }

  footer {
    height: 68px;
  }
}

/**
 * Mobile styles: large devices (at least 1200px)
 */

@media screen and (min-width: 1200px) {
  body {
    margin-bottom: 68px;
  }

  .heading {
    padding-top: 21em;
  }

  .heading h1 {
    letter-spacing: 1px;
    line-height: 130px;
    font-size: 120px;
  }

  footer {
    height: 68px;
  }
}
