/* General styles for all menus */

.overlay {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;

  /* overlay transition properties */
  -webkit-transition: visibility 0.3s ease,
                      opacity 0.3s ease;

  -moz-transition: visibility 0.3s ease,
                   opacity 0.3s ease;

  transition: visibility 0.3s ease,
              opacity 0.3s ease;
}

.overlay.visible {
  visibility: visible;
  opacity: 1;
}

/**
 * Slide panel styles
 */

.slide-panel {
  background: rgb(40, 40, 40);
  position: fixed;
  padding: 40px;
}

.slide-panel > .close {
  color: #fff;
  opacity: 1;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.slide-panel .title, .slide-panel .content {
  padding: 20px;
  margin: 0;
}

.slide-panel > .content h3 {
  font-size: 28px;
  line-height: 38px;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.slide-panel > .content p, .slide-panel > .close {
  font-size: 18px;
  line-height: 28px;
}

.slide-panel > .content a {
  color: rgb(255,255,255);
  font-weight: 300;
  text-decoration: underline;
}

.slide-panel > .content a:hover, .slide-panel > .content a:active {
  color: rgb(239,174,90);
}

/* TODO: move to main style component */
.slide-panel-vertical {
  width: 600px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.slide-panel-left {
  left: -600px;
}

.slide-panel-left.slide-panel-open {
  left: 0px;
}

/* TODO: consider moving to main style component */
.slide-panel {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/**
 * TODO: finish implementing media query styles
 */

@media screen and (-webkit-min-device-pixel-ratio: 2) {}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* TODO: decide if landscape scroll issue is worth fixing */
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .slide-panel {
    padding: 50px;
  }

  .slide-panel > .content h3 {
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 32px;
  }

  .slide-panel > .content p {
    margin-bottom: 22px;
  }

  .slide-panel > .content p, .slide-panel > .close {
    font-size: 32px;
    line-height: 42px;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}
