---
import Layout from '@layouts/Layout.astro';
---

<Layout
	title="Connect"
	metaDescription="Connecting with Matt Gerton for opportunities."
>
	<main>
		<h1>Connect with Me</h1>
    <p>Here is where I'll either put a contact form and/or information on how to connect with me, including links to social media (LinkedIn, GitHub).</p>
	</main>
</Layout>
