---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';

import portait from "../images/matt.jpg";
---

<Layout title="Home" metaDescription="Matt Gerton's homepage">
	<!-- <main class="max-w-6xl m-auto"> -->
	<main class="grid grid-cols-1 h-screen">
		<!-- <header class="flex flex-2 gap-6 self-end lg:gap-8 items-center justify-center p-8 lg:p-12"> -->
		<!-- <ul role="list" class="grid gap-8 grid-cols-1 self-start"> -->
		<header class="flex flex-2 flex-col lg:flex-row gap-6 lg:gap-8 items-center justify-self-center p-8">
			<img src={portait} class="rounded-full w-36 h-36 lg:w-44 lg:h-44 object-cover border-4 border-cyan-600" />
			<h1 class="font-sans font-bold text-5xl lg:text-7xl">Matt Gerton</h1>
		</header>

		<ul role="list" class="flex flex-col gap-6 w-fit self-start justify-self-center">
			<Card
				href="/about"
				title="About Me"
				body="Learn about how I work and live my life."
			/>
			<Card
				href="/my-work"
				title="My Work"
				body="See my resume and highlighted personal and professional projects."
			/>
			<Card
				href="/about/website"
				title="About this site"
				body="Learn about how this site is built and run, along with my tools of choice."
			/>
			<Card
				href="/connect"
				title="Connect"
				body="Interested in contacting me about opportunities? Find out here."
			/>
		</ul>
	</main>
</Layout>
